fastapi==0.110.1
uvicorn[standard]==0.25.0
python-dotenv==1.0.0
pydantic==2.7.0
pydantic-settings==2.2.0
supabase==2.28.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
groq==1.1.0
razorpay==2.0.1
sendgrid==6.12.5
scikit-learn==1.8.0
numpy==2.4.2
pandas==3.0.1
requests==2.31.0
email-validator==2.1.0
PyPDF2==3.0.1
python-docx==1.2.0
spacy==3.8.11
thinc==8.2.5
wasabi==1.1.2
srsly==2.4.8
catalogue==2.0.10
typer==0.9.0
pathy==0.10.2
smart-open==6.4.0
tqdm==4.66.1
packaging==23.2
langcodes==3.3.0
preshed==3.0.9
murmurhash==1.0.10
cymem==2.0.8